<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean id="dataSource" className="cn.itcast.jdbc.ItcastDataSource">
        <property name="username" value="root"/>
        <property name="password" value="123"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/day13?useServerPrepStmts=true&amp;cachePrepStmts=true&amp;prepStmtCacheSize=50&amp;prepStmtCacheSqlLimit=300"/>
    </bean>
</beans>