<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.note.common.mybatis.UserMapper">
    <cache type="com.note.common.mybatis.BatisCache"/>
    <select id="selectByPrimaryKey" parameterType="long" resultType="com.note.common.mybatis.User">
      select * from user where id=#{id}
    </select>
</mapper>